
h1{background-color:rgb(229, 241, 252);
margin: 5 0;
text-align: }

h2{font-size: 2rem}
p{font-size: 0.9rem}
p{font-family: Verdana, Arial, Helvetica;}


img{border:12px solid rgba(120, 182, 158, 0.771); padding-bottom: px; padding-left: 0px; margin: 1px 0px 1px 11px; 
    width: 350px;
    margin: 3;
    text-align: left;}

.exampleclass{
  color:rgb(18, 158, 149);
  text-align: center
  }

.resize-photo-small{border:5px solid rgb(209, 205, 205); padding-bottom: 0px; padding-left: 0px; margin: 0px px px px; width: 100px;}
.resize-photo-m {border:5px solid rgb(111, 132, 227); 
padding-bottom: px; 
padding-left: 0px; 
margin: 0px px 18px 12px; 
width: 200px;
text-align: right;}

.contain {
    padding: 30;
    text-align: center;
    background-color: rgb(121, 180, 160);
}


#quote {
  float: right;
  width: 60%;
  background-color: rgb(196, 234, 226);
  /*
  background-color: aliceblue;
  color: rgb(17, 17, 17);
  position: absolute;
  left: 35%;
  top: 30%;
  text-align: right
  */
}

#me {
  float: left;
  width: 30%;
  background-color: rgb(190, 220, 247);
/*
  position: relative;
  right: 30%;
  */
}
